#left-side {
  position: fixed;
  top: 0; left: 0; bottom: 0; padding: 0;
  width: 260px;
  height: 100%;
  background-color: #157586;
  border-right: 1px solid #ddd;
  cursor: default;
}

#left-side {
  position: fixed;
  top: 0; left: 260; bottom: 0; padding: 0;
  width: 800px;
  height: 100%;
  background-color: #dedede;
  cursor: default;
}
